body{
	background-color: #A2B5CD;
	padding-left: 3px;
	padding-right: 3px;
}

div {
	border-radius: 5px;
    background-color: ;
    margin-top: 2px;
    margin-bottom: 1px;

}

option {
    background-color: #d0e4fe;

}

input {
    background-color: #d0e4fe;

	height: 50px !important;
}